body {
    background-image: url("/assets/images/java.jpg");
    margin: 0 auto;
    font-family: 'Amiri', serif;
}

button {
    background-color: green;
    transition-duration: 0.4s;
    border-radius: 32px;
    padding: 15px;
}

